body {
  margin: 0;
  background-color: #272d37;
  overflow: hidden;
}

.game-wrapper {
  width: 352px;
  height: 198px;
  margin: 0 auto;
  transform: scale(3) translateY(50%);
  outline: 1px solid #fff;
}

canvas {
  image-rendering: pixelated;
}
