/* Z-Index:
* Tooltip: 200
* Message: 200
* Modal-wrapper: 250
* modal-external-content-wrapper: 251
* Toast: 300
*/

:root {
  --game-width: 352px;
  --game-height: 198px;
}

html,
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  overflow: hidden;
}

.game-wrapper {
  position: relative;
  width: var(--game-width);
  height: var(--game-height);
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
  outline: 1px solid #fff;
  transform: scale(3.5);
}

canvas {
  image-rendering: pixelated;
}

.hudContainer {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 300px;
  background-color: var(--background-color);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  padding: 0.3rem;
  display: none;
}

.hudContainer.show {
  display: block;
}

.hudContainer > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tooltip {
  position: absolute;
  background-color: var(--background-color);
  transition: 0.3s opacity ease;
  z-index: 200;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  border: none;
  outline: 1px solid var(--font-color);
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  height: fit-content;
  user-select: none;
}

.message {
  background-color: var(--background-color-light-transparent);
  transition: 0.3s opacity ease;
  z-index: 200;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 100vw;
  border: none;
  outline: 1px solid var(--primary-color);
  margin-top: 5px;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  min-width: 200px;
}

.message-content::before {
  content: '>';
}

.message-content {
  margin: 0;
  margin-top: 2px;
  padding-bottom: 15px;
  line-height: 1.2em;
}

.message span {
  opacity: 0;
}

.message span.revealed {
  opacity: 1;
}

.message-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.message-action {
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  margin-top: 3px;
}

/*
  Scene Transition
*/
.scene-transition {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0;
  animation: scene-transition-fade-in 1.2s forwards;
}
.scene-transition.fade-out {
  animation: scene-transition-fade-out 1.2s forwards;
}

@keyframes scene-transition-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scene-transition-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

button:focus {
  outline: 3px var(--error-color);
}

/*
* Modal
*/

.modal-wrapper {
  z-index: 250;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: scene-transition-fade-in 1.2s forwards;
  display: flex;
  display: none;
}
.scene-transition.fade-out {
  animation: scene-transition-fade-out 1.2s forwards;
}

.modal {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--code-bg-color);
  display: flex;
  flex-direction: column;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  flex: 1;
}

.modal-close-btn {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s ease all;
}
.modal-close-btn:hover {
  background-color: var(--secondary-color);
  color: var(--invert-font-color);
}

.modal-close-btn:active {
  background-color: var(#565a63);
  color: var(--invert-font-color);
}

.modal-close-btn:focus {
  outline: 3px var(--error-color);
}

.modal-content {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1;
}
.modal-content > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 75%;
}
.modal-external-content-wrapper {
  position: relative;
  max-height: 100vh;
  max-height: 100vw;
  width: 100%;
  z-index: 251;
  display: flex;
  justify-content: center;
}

.modal-external-content-wrapper > img {
  width: 1200px;
}

.cross {
  color: red;
  font-size: 2rem;
}
/*
* Windows Login Page
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

body {
  margin: 0;
  padding: 0;
}

.login-page {
  width: 100%;
  height: 100vh;
  background-image: url('https://www.wallpaperhub.app/_next/image?url=https%3A%2F%2Fcdn.wallpaperhub.app%2Fcloudcache%2F6%2F1%2Fd%2F8%2Fe%2F1%2F61d8e1478765c4255530a177f093168488e2ebaa.jpg&w=4500&q=100');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login-page-inner {
  width: 400px;
  position: relative;
  text-align: center;
  animation: fade-in 1s ease-in-out;
}

#user-image-container {
  margin: 0 auto;
  width: 140px;
  height: 140px;
  font-size: 110%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-user-o {
  color: white;
}

#username-container {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 24px;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#password {
  height: 40px;
  width: 250px;
  padding-left: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

#password:invalid {
  outline: 1px solid red;
}

#submit {
  height: 42px;
  padding: 0 15px;
  background-color: #bdbdbd;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

#submit:hover {
  background-color: #9e9e9e;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#hint {
  font-size: 0.75rem;
}

/*
* Quest Menu
*/

.quest-menu {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%) translateX(30vw);
  background-color: #2c2c31;
  outline: 1px solid #fff;
  max-width: 30vw;
  width: 100%;
  transition: 0.3s right ease;
  padding-bottom: 1rem;
}

.extended {
  right: 30vw;
}

.quest-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.quest-header > h2 {
  padding-right: 1rem;
  padding-left: 0.9rem;
  margin-bottom: 0;
}
.quest-header > button {
  height: fit-content;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}
.quest-header > button:hover {
  color: #a7a7a7;
}

.quest-content {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-left: 0.4rem;
}
.quest-content > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}
.quest-content > div > i {
  font-size: 1.5rem;
  padding: 0.3rem;
}
.quest-content > div > i.trophyAward {
  padding-left: 0.9rem;
  cursor: pointer;
}

.quest-content > div > .spacer {
  padding-left: 2.5rem;
}
.quest-content > div.unfinished {
  color: #565a63;
}
.quest-content > div.finished {
  color: green;
}

.quest-content > div.current {
  color: white;
}

.quest-content > div > p {
  margin-bottom: 0;
  padding-left: 0.3rem;
}

/*
* Toast Messenges
*/

.toast-wrapper {
  position: fixed;
  top: 5vh;
  right: 0;
  max-width: 400px;
  z-index: 300;
}

.toast {
  background-color: var(--error-color);
  cursor: pointer;
  min-width: 200px;
  padding: 1rem;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: 0.3s all ease;
  z-index: 300;
}

.show {
  transform: translateX(0);
}

.toast > p {
  margin-bottom: 0;
  padding-left: 1rem;
}
.toast > i {
  font-size: 1.3rem;
}
